In [148]:
import pandas as pd

df_data = pd.DataFrame(pd.read_clipboard(sep='\t'))

header = list(df_data.columns)
donotdrop = ['Doc Date','Branch (Name)','Branch To (Name)','Booking ID']

In [149]:
new_data = df_data[donotdrop]
new_data['Booking ID'] = new_data['Booking ID'].str.replace('Booking-DHL ID : ','')

new_data

C:\Users\jambo\AppData\Local\Temp/ipykernel_1668/2701912979.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['Booking ID'] = new_data['Booking ID'].str.replace('Booking-DHL ID : ','')

,Doc Date,Branch (Name),Branch To (Name),Booking ID
0,23/08/2022 16:21:59,ID64 : BN-Imperial-Samrong,ID49 : สินค้า Trade in,NaN
1,21/08/2022 15:44:17,ID103 : Studio 7-Paradise Park-Srinakarin,ID49 : สินค้า Trade in,NaN
2,22/08/2022 12:51:05,ID109 : Studio 7-The Mall-Bangkae,ID49 : สินค้า Trade in,NaN
3,21/08/2022 22:04:17,ID114 : Studio 7-Central-Ladprao,ID49 : สินค้า Trade in,NaN
4,21/08/2022 22:07:23,ID114 : Studio 7-Central-Ladprao,ID49 : สินค้า Trade in,NaN
...,...,...,...,...
157,22/08/2022 14:09:11,ID667 : BN-Central-Nakhonsithammarat,ID49 : สินค้า Trade in,7224087096019122
158,22/08/2022 15:11:35,ID329 : Studio 7-Central-Suratthani,ID49 : สินค้า Trade in,7224087098017922
159,22/08/2022 14:02:01,ID233 : Studio 7-Market Village-Huahin,ID49 : สินค้า Trade in,7224087098837622
160,22/08/2022 16:25:32,ID1714 : BN-Central-Mueang-Chanthaburi,ID49 : สินค้า Trade in,7224087107203122
161,22/08/2022 14:10:08,ID625 : BNM-Robinson-Chanthaburi,ID49 : สินค้า Trade in,7224087110485122

In [153]:
new_data.dropna()['Booking ID'].to_csv('retrieve_tracking.txt', header=None, index=None)